<h1>Chaplin Boilerplate Application</h1>

<p>This Chaplin example provides an app scaffold using RequireJS as module loader. Handlebars is used as templating engine. The templates are loaded on demand using the RequireJS text plugin.</p>

<div id="main-container"></div>
